#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid #000;
    perspective: 600px;
    overflow: hidden;
}

#pasaule {
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    /* transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
}
